/*
This is a css comment.

How we style elements

Below we're going to match elements (where to apply)
- the h1 below is where to apply
We are going to write "declarations" (what to apply)
- font-family
- color
- font-sizes
*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 40px;
    /* attribute is on the left seperated by a :
    always ends in a ; */
}

/* sometimes in css you want to apply something
to the entire page. You can use star or the "body"
*/

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}